body {
	height: auto;
	width: 100%;
	overflow: visible;
	background-color: black;
}

#spoon {
	position: absolute;
	left: 0;
	right: 0;
	top: 1200px;
	height: 260px ;
	width: 150px;
	background-position: cover;
	background-repeat: no-repeat;
	background-image: url("http://i377.photobucket.com/albums/oo214/vrchavez05/onlythedrinknobacksmaller_zpswaqeijuk.png");	
	background-size: 100%;
	z-index: 1000;
	text-align: center;
	margin: auto;
	background-color: transparent;
	transition: .5s;
}

#wood {
	position: absolute;
	right: 30px;
	top: 630px;
	height: 330px ;
	width: 250px;
	background-position: cover;
	background-repeat: no-repeat;
	background-image: url("http://i377.photobucket.com/albums/oo214/vrchavez05/tacosnobacksmaller_zpsgq5yrqiz.png");	
	background-size: 100%;
	z-index: 1000;
	background-color: transparent;
	transition: .8s;
}

#green {
	position: absolute;
	left: 20px;
	top: 810px;
	height: 200px ;
	width: 290px;
	background-position: cover;
	background-repeat: no-repeat;
	background-image: url("http://i377.photobucket.com/albums/oo214/vrchavez05/cartnobacksmaller_zpsnlgygszf.png");	
	background-size: 100%;
	z-index: 1000;
	background-color: transparent;
	transition: .6s;
}	
	

.top {
	position: absolute;
	top: 0;
	height: 50px;
	left: 0;
	right: 0;
	width: 100%;
	background-color: black;
	opacity: 1;
}

#need {
	position: absolute;
	top: -7px;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
	font-family: 'Handlee', sans-serif;
	font-size: 19px;
}

#tacos {
	text-decoration: none;
	color: white;
	top: -10px;
	font-size: 13px;
	border-radius: 2px;
	border-color: transparent;
	background-color: #B51A00;
	font-family: 'Handlee', sans-serif;
	cursor: pointer;
	outline: none;
}

#siteimg {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	height: 400px;
	background-image: url("http://i.imgur.com/4Tufqja.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#logoimg {
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	text-align: center;
	height: auto;
	width: 100%;
	background-color: transparent;
}

img {
	position: relative;
	height: 150px;
	width: 300px;
	border-radius: 65px;
}

.menu {
	position: absolute;
	top: 450px;
	left: 0;
	right: 0;
	width: 100%;
	height: 95px;
	z-index: 7000;
	background-color: black;
}

.toma {
	position: relative;
	height: 30px;
	width: 30px;
	top: 5px;
	background-color: black;
	opacity: 0;
}

#menutext {
	position: relative;
	left: -80px;
	right: 0;
	top: -5px;
	bottom: 0;
	list-style: none;
	font-family: 'Handlee', sans-serif;
	font-size: 15px;
	color: white;
	text-align: center;
	vertical-align: middle;
}


li {
	display: inline;
	padding: 0px 30px;
}

a {
	text-decoration: none;
	outline: none;
	color: white;
}

a:hover .toma {
	opacity: 1;
	top: 5px;
	transition: .7s;
}

.fixed {
	position: fixed;
	top: 0;
	height: 95px;
}

.info {
	position: absolute;
	left: 0;
	right: 0;
	top: 550px;
	height: 2650px;
	width: 100%;
	z-index: 1001;
	background-color: transparent;
	transition: ease-out .4s all;
}

#container {
	position: absolute;
	top: 450px;
	left: 0;
	right: 0;
	height: 2700px;
	background-image: url("http://i.imgur.com/FZDtDqG.jpg");
	background-position: center;
	background-repeat: repeat;
	opacity: .6;
}
	

#formhead {
	position: absolute;
	left: 0;
	right: 0;
	top: 10px;
	text-align: center;
	font-size: 36px;
	font-family: 'Handlee', sans-serif;
	color: white;
	z-index: 5000;
}

#taquiza {
	position: absolute;
	top: 130px;
	left: 0;
	height: 1000px;
	right: 0;
	transition: .5s ease-out;
}

#taquizatext {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 32px;
	color: #B51A00;
}

#include {
	position: absolute;
	left: 0;
	right: 0;
	top: 45px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
}

#tacova {
	position: absolute;
	left: 0;
	right: 0;
	top: 150px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 3000;
}

#difftacova {
	position: absolute;
	left: -340px;
	right: 0;
	top: 153px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 22px;
	color: white;
}

#meat {
	position: absolute;
	left: -65px;
	right: 0;
	top: 180px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 3000;
}

#diffmeat {
	position: absolute;
	left: -340px;
	right: 0;
	top: 183px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 22px;
	color: white;
}

#salsa {
	position: absolute;
	left: 117px;
	right: 0;
	top: 210px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 3000;
}

#diffsalsa {
	position: absolute;
	left: -340px;
	right: 0;
	top: 213px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 22px;
	color: white;
}

#sides {
	position: absolute;
	left: -105px;
	right: 0;
	top: 240px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 3000;
}

#diffsides {
	position: absolute;
	left: -340px;
	right: 0;
	top: 243px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 22px;
	color: white;
}

#agua {
	position: absolute;
	left: -135px;
	right: 0;
	top: 270px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 3000;
}

#diffagua {
	position: absolute;
	left: -340px;
	right: 0;
	top: 273px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 22px;
	color: white;
}

#cups {
	position: absolute;
	left: 30px;
	right: 0;
	top: 300px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 3000;
}

#diffcups {
	position: absolute;
	left: -340px;
	right: 0;
	top: 303px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 22px;
	color: white;
}

#typesof {
	position: absolute;
	left: 0;
	right: 50%;
	top: 435px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 26px;
	color: white;
	text-decoration: underline;
	z-index: 3000;
}

/*Split Here 	background-image: url("http://www.tioluchin.com/img/bg-guisado.jpg");
	background-position: center;
	background-repeat: repeat;*/
#asada {
	position: absolute;
	left: 0;
	right: 50%;
	top: 500px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
	z-index: 3000;
}

#tripas {
	position: absolute;
	left: 0;
	right: 50%;
	top: 525px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
	z-index: 3000;
}

#chick {
	position: absolute;
	left: 0;
	right: 50%;
	top: 550px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
	z-index: 3000;
}

#ado {
	position: absolute;
	left: 0;
	right: 50%;
	top: 575px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
	z-index: 3000;
}

#rizo{
	position: absolute;
	left: 0;
	right: 50%;
	top: 600px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
	z-index: 3000;
}

#soy {
	position: absolute;
	left: 0;
	right: 50%;
	top: 625px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
	z-index: 3000;
}

#nita {
	position: absolute;
	left: 0;
	right: 50%;
	top: 650px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
	z-index: 3000;
}

#beza {
	position: absolute;
	left: 0;
	right: 50%;
	top: 675px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
	z-index: 3000;
}

#gua {
	position: absolute;
	left: 0;
	right: 50%;
	top: 700px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
	z-index: 3000;
}




/*Yuuuupp Split Here*/

#waterof {
	position: absolute;
	left: 50%;
	right: 0;
	top: 435px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 26px;
	color: white;
	text-decoration: underline;
	z-index: 3000;
}

#hor {
	position: absolute;
	left: 50%;
	right: 0;
	top: 500px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
	z-index: 3000;
}

#ceb {
	position: absolute;
	left: 50%;
	right: 0;
	top: 525px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
	z-index: 3000;
}

#jam {
	position: absolute;
	left: 50%;
	right: 0;
	top: 550px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
	z-index: 3000;
}

#lim {
	position: absolute;
	left: 50%;
	right: 0;
	top: 575px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
	z-index: 3000;
}

#melon {
	position: absolute;
	left: 50%;
	right: 0;
	top: 600px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
	z-index: 3000;
}

#pina {
	position: absolute;
	left: 50%;
	right: 0;
	top: 625px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
	z-index: 3000;
}

#san {
	position: absolute;
	left: 50%;
	right: 0;
	top: 650px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
	z-index: 3000;
}

#tama {
	position: absolute;
	left: 50%;
	right: 0;
	top: 675px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
	z-index: 3000;
}

#fres {
	position: absolute;
	left: 50%;
	right: 0;
	top: 700px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
	z-index: 3000;
}

/*Another Split*/

#peopler {
	position: absolute;
	left: -90px;
	right: 50%;
	top: 825px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 3000;
	text-decoration: underline;
}

#costr {
	position: absolute;
	left: -90px;
	right: 50%;
	top: 865px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 3000;
}

#seventyr {
	position: absolute;
	left: 0;
	right: 0;
	top: 825px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 3000;
	text-decoration: underline;
}

#seventycostr {
	position: absolute;
	left: 0;
	right: 0;
	top: 865px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 3000;
}

#hunedr {
	position: absolute;
	left: 50%;
	right: -90px;
	top: 825px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 3000;
	text-decoration: underline;
}

#hunedcostr {
	position: absolute;
	left: 50%;
	right: -90px;
	top: 865px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 3000;
}



#guisos {
	position: absolute;
	top: 1130px;
	left: 0;
	height: 600px;
	right: 0;
}

#guisostext {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 30px;
	color: #B51A00;
}

#bistec {
	position: absolute;
	left: 0;
	right: -10px;
	top: 150px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 19px;
	color: white;
	z-index: 3000;
}

#diffbistec {
	position: absolute;
	left: -510px;
	right: 0;
	top: 153px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 19px;
	color: white;
}

#cochi {
	position: absolute;
	left: 0;
	right: -25px;
	top: 175px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 19px;
	color: white;
	z-index: 3000;
}

#diffcochi {
	position: absolute;
	left: -510px;
	right: 0;
	top: 178px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 19px;
	color: white;
}

#rajas {
	position: absolute;
	left: 0;
	right: 80px;
	top: 200px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 19px;
	color: white;
	z-index: 3000;
}

#diffrajas {
	position: absolute;
	left: -510px;
	right: 0;
	top: 203px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 19px;
	color: white;
}

#chich {
	position: absolute;
	left: 0;
	right: -5px;
	top: 225px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 19px;
	color: white;
	z-index: 3000;
}

#diffchich {
	position: absolute;
	left: -510px;
	right: 0;
	top: 228px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 19px;
	color: white;
}

#mar {
	position: absolute;
	left: 5px;
	right: 0;
	top: 250px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 19px;
	color: white;
	z-index: 3000;
}

#diffmar {
	position: absolute;
	left: -510px;
	right: 0;
	top: 253px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 19px;
	color: white;
}

#frijol {
	position: absolute;
	left: -100px;
	right: 0;
	top: 275px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 19px;
	color: white;
	z-index: 3000;
}

#diffrijol {
	position: absolute;
	left: -510px;
	right: 0;
	top: 278px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 19px;
	color: white;
}

#pollo {
	position: absolute;
	left: 40px;
	right: 0;
	top: 300px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 19px;
	color: white;
	z-index: 3000;
}

#diffpollo {
	position: absolute;
	left: -510px;
	right: 0;
	top: 303px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 19px;
	color: white;
}

#tinga {
	position: absolute;
	left: -65px;
	right: 0;
	top: 325px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 19px;
	color: white;
	z-index: 3000;
}

#difftinga {
	position: absolute;
	left: -510px;
	right: 0;
	top: 328px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 19px;
	color: white;
}

#cama {
	position: absolute;
	left: -40px;
	right: 0;
	top: 350px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 19px;
	color: white;
	z-index: 3000;
}

#diffcama {
	position: absolute;
	left: -510px;
	right: 0;
	top: 353px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 19px;
	color: white;
}

#puer {
	position: relative;
	left: 25px;
	top: 375px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 19px;
	color: white;
	z-index: 3000;
}

#diffpuer {
	position: absolute;
	left: -510px;
	right: 0;
	top: 378px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 19px;
	color: white;
}

#mach {
	position: relative;
	left: -5px;
	top: 355px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 19px;
	color: white;
	z-index: 3000;
}

#diffmach {
	position: absolute;
	left: -510px;
	right: 0;
	top: 403px;
	text-align: center;
	font-family: 'Material Icons', sans-serif;
	font-size: 19px;
	color: white;
}

#people {
	position: absolute;
	left: -90px;
	right: 50%;
	top: 465px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 3000;
	text-decoration: underline;
}

#cost {
	position: absolute;
	left: -90px;
	right: 50%;
	top: 505px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 3000;
}

#seventy {
	position: absolute;
	left: 0;
	right: 0;
	top: 465px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 3000;
	text-decoration: underline;
}

#seventycost {
	position: absolute;
	left: 0;
	right: 0;
	top: 505px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 3000;
}

#huned {
	position: absolute;
	left: 50%;
	right: -90px;
	top: 465px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 3000;
	text-decoration: underline;
}

#hunedcost {
	position: absolute;
	left: 50%;
	right: -90px;
	top: 505px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 22px;
	color: white;
	z-index: 3000;
}

#extras {
	position: absolute;
	top: 1730px;
	left: 0;
	height: 400px;
	right: 0;
}

#extrastext {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 30px;
	color: #B51A00;
}

#guac {
	position: absolute;
	left: 0;
	right: 0;
	top: 150px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
}

#creme {
	position: absolute;
	left: 0;
	right: 0;
	top: 210px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 20px;
	color: white;
}

#choco {
	position: absolute;
	left: 0;
	right: 0;
	top: 270px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
}

#arro {
	position: absolute;
	left: 0;
	right: 0;
	top: 330px;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	font-size: 21px;
	color: white;
}

#bottom {
	position: absolute;
	top: 2930px;
	left: 0;
	right: 0;
	height: 390px;
	z-index: 8000;
	background-color: black;
}

.menutwo {
	position: absolute;
	top: 250px;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0;
	background-color: black;
}

#menutexttwo {
	position: absolute;
	left: -80px;
	right: 0;
	top: 20%;
	bottom: 0;
	list-style: none;
	font-family: 'Handlee', sans-serif;
	font-size: 15px;
	color: white;
	text-align: center;
	vertical-align: middle;
}

#endstuf {
	position: absolute;
	font-family: 'Handlee', sans-serif;
	font-size: 14px;
	color: white;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 8000;
	background-color: black;
}

#imgbotl {
	position: absolute;
	right: 0;
	top: -30px;
	height: 300px;
	width: 400px;
	background-image: url("http://i.imgur.com/cBAFUZv.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 8000;
}

#imgleft {
	position: absolute;
	left: 45px;
	top: 35px;
	height: 150px;
	width: 300px;
	background-image: url("http://i.imgur.com/8siXjwQ.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 120px;
	z-index: 8000;
}


#con {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	color: white;
	font-size: 26px;
}

#numba {
	position: absolute;
	left: -140px;
	top: 90px;
	right: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	color: white;
	font-size: 22px;
}

#colnum {
	position: absolute;
	left: 60px;
	top: 90px;
	right: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	color: #B51A00;
	font-size: 22px;
}
	
#mail {
	position: absolute;
	left: -212px;
	top: 140px;
	right: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	color: white;
	font-size: 22px;
}

#colmail {
	position: absolute;
	left: 60px;
	top: 140px;
	right: 0;
	text-align: center;
	font-family: 'Handlee', sans-serif;
	color: #B51A00;
	font-size: 22px;
}

